.cards .card-options .card_options {
  visibility: hidden;
}

.cards:hover .card-options .card_options  {
  visibility: visible;
}

@media only screen and (max-width: 1025px) {
  .cards .card-options .card_options  {
    visibility: visible;
  }
}
